:root {
    --footer-font-size: 11pt;
}

.footer-info-container {
    align-self: flex-bottom;
    padding: 10px 0px;
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    min-height: var(--bottom-row-height);
    display: flex;
    flex-direction: column;
}

.footer-author-section {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: var(--footer-font-size);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-author-section * {
    padding: 0px 10px;
    text-decoration: none;
    color: var(--secondary-color);
}

.footer-link:hover {
    color: var(--primary-color);
    transition: var(--transition-speed);
}

@media screen and (max-width: 1060px) {
}


@media screen and (max-width: 768px) {

    .content {
        padding: 30px 5px;
    }

    .footer-author-section {
        flex-direction: column;
    }
}


@media screen and (max-width: 480px) {
    .footer-info-container {
    }

    
}

@media screen and (max-width: 320px) {
    :root {
    }
}