:root {
    --login-title-color: var(--secondary-color);
    --login-title-background: var(--primary-color);
    --login-title-font-size: 40pt;

    --login-body-background: var(--secondary-color);

    --login-container-height: 425px;
    --login-container-width: 415px;
}

.login-outer-wrapper {
    grid-column: 2 / 3;
    grid-row: 2;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex: 1;
}

.login-container {
    grid-column: 2 / 3;
    grid-row: 2;
    width: 100%;
    margin: 0 auto;
    height: var(--login-container-height);
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

}

.login-header {
    background: var(--login-title-background);
    padding: 15px;
}

.login-title {
    color: var(--login-title-color);
    font-size: var(--login-title-font-size);
}

.login-body {
    padding: 0px 15px;
    flex-grow: 1;
    background: var(--login-body-background);
    display: flex;
    align-items: center;
    max-width: var(--login-container-width);
}

.login-form {
    padding: 15px;
    width: 100%;
}

.login-register-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login-error {
    color: red;
    font-size: 12pt;
    font-variant-caps: all-small-caps;
}